# various python shenanigans
.venv
__pycache__/
.mypy_cache/
.pytest_cache/
*.py[cod]

# secrets
.env.*
run

# editors
.vscode/
.idea/
*.swp
*~
*\#*

# app stuff
instance/*
static/uploads/*
preview/*
dioxus/


# certs
*.csr
*.key
*.crt


# cargo (i sure hope it does)
target/
**/target/
Cargo.lock

# build stuff
/frontend/dist/
/frontend/pkg/
/frontend/.parcel-cache/
/frontend/node_modules/

# stupid
.DS_Store
Thumbs.db
